body {

    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #f8f9fd;
    color: #000;
}

a {
    transition: 0.3s all ease;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.bg-primary {
    background: #f66824 !important;
}

.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}


.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
}

.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap {
    position: relative;
    background: #fff;
}

.login-wrap h3 {
    font-weight: 300;
}

.form-group {
    position: relative;
}

.form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}

.form-group a {
    color: #000;
    width: 200px;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, .2) !important;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, .2) !important;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, .2) !important;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, .2) !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #f66824;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.social-media .social-icon span {
    color: #999;
}

.social-media .social-icon:hover,
.social-media .social-icon:focus {
    background: #f66824;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
    color: #fff;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}


.checkbox-primary input:checked~.checkmark:after {
    color: #f66824;
}

.btn {
    cursor: pointer;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #f66824 !important;
    border: 1px solid #f66824 !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    border: 1px solid #f66824;
    background: transparent;
    color: #f66824;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #f66824;
    background: transparent;
    color: #f66824;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #f66824;
    color: #fff;
}

.pass-validation {
    color: red;
    font-size: 9px !important;
}